body{
  
  background-color: rgb(238, 238, 238);
  
}


.alfajorarrozdoce{
 
margin-left: 100px;
  
}

.bolobanoffee{

  margin-left: 100px;
}

.cupcake{

  margin-left: 100px;
}

.docinhos{

  margin-left: 100px;
}

.nake{

  margin-left: 100px;
}

.pudimpao{

  margin-left: 100px;
}

.torta{

  margin-left: 100px;
}

.corpo{
  margin-top: 10vh;
}



footer{
    background-color: rgb(226, 145, 183);
    color: rgb(158, 117, 78);
    padding: 10px;
    
    
    
    
}

section{
    padding: 0px;
    
}

#divBusca{
    float:right;
    background-color:#E0EEEE;
    border:solid 2px purple;
    border-radius:10px;
    width:300px;
    height:32px;

  }
  
  #textoBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #botaoBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background: rgb(219, 93, 152);
  }
  
  #divBusca img{
    float:left;
  }
  .compras {
    margin: 0;
    padding: 0;
  }

  .compras div {
    height: 30px;
  }

  .caixa {
    height: 14px;
  }
  .footer_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
 /*HEADER*/
 header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 93px;
  background-color: rgb(255, 255, 255);
 top: 0%;
 left: 0%;
 border-bottom: solid rgb(233, 4, 111);
 border-bottom-width: 2px;
 color: rgb(233, 4, 111);
 transition: top 0.3;
  
  
  
  
  
}

.menu li {
  display: inline-block;
  margin: 0 10px;
  
  
  
}


.menu li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(233, 4, 111);
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 20px;
  
  
  
  

}

.menu li a:hover {
  color: rgb(241, 144, 184);
  
}





.logo-imagem{
  
  display: flex;
  width: 50px;
  height: 90px;
  
}

.conteiner-logo{
  display: flex;
  align-items: center;
}

.logo-texto{
  margin-left: 50px;
  color: rgb(233, 4, 111);
}

.logo-texto :hover{
  color: rgb(241, 144, 184);
}


.foto {

  display: flex;
  width: 132rem;
  height: 430px;
}

.text1{
  color: rgb(0, 0, 0);
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 25px;
  margin-top: 4rem;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

/* BARRA DE PESQUISA */

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff; 
  padding: 10px;
  margin-left: 200px;
  width: 50vh;
  

}

#search-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline-color: rgba(0, 0, 0, 0.096);
}

button {
  background-color: rgb(233, 4, 111); 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(241, 144, 184); 
}
