
header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 93px;
    background-color: rgb(255, 255, 255);
   top: 0%;
   left: 0%;
   border-bottom: solid rgb(233, 4, 111);
   border-bottom-width: 2px;
   color: rgb(233, 4, 111);
   transition: top 0.3;
    
    
    
    
    
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    
    
    
}


.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(233, 4, 111);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 20px;
    
    
    
    

}

.menu li a:hover {
    color: rgb(241, 144, 184);
    
}





.logo-imagem{
    
    display: flex;
    width: 50px;
    height: 90px;
    
}

.conteiner-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 50px;
    color: rgb(233, 4, 111);
}

.logo-texto :hover{
    color: rgb(241, 144, 184);
}


.foto {

    display: flex;
    width: 132rem;
    height: 430px;
}

.text1{
    color: rgb(0, 0, 0);
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 25px;
    margin-top: 4rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/* BARRA DE PESQUISA */

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px;
    margin-left: 200px;
    width: 50vh;
    

}

#search-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline-color: rgba(0, 0, 0, 0.096);
}

button {
    background-color: rgb(233, 4, 111); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(241, 144, 184); 
}


/* Formulario */

.form-container {
    
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5rem;
    background-color: #e9e9e9;
    margin-left: 60rem;
    height: 40rem;
    
    
}
label {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}
input[type="text"], textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
textarea {
    height: 120px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgba(233, 4, 111, 0.452);
}

h2{
  text-align: center;

}
/*RODAPE*/
footer {
    background-color: rgb(233, 4, 111); 
    color: #FFFFFF; 
    padding: 20px 0;
    width: 200vh;
    margin-left: vh;

   margin-top: 9vh;
   
    
}


.redes-sociais a {
    color: #FFFFFF; 
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
}


.menu-rodape ul {
    list-style-type: none;
    padding: 0;
}

.menu-rodape ul li {
    display: inline;
    margin-right: 15px;
    font-size: 16px;
}

.menu-rodape ul li a {
    color: #FFFFFF;
    text-decoration: none;
}